<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <style>
      .form-gap {
        padding-top: 70px;
      }
    </style>
  </head>
  <body>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <div class="form-gap"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="text-center">
                <h3><i class="fa fa-lock fa-4x"></i></h3>
                <h2 class="text-center">Reset Password</h2>
                <p>Enter your new password below.</p>
                <div class="panel-body">
                  <form id="resetPasswordForm" action="/api/v1/reset-password?token=<%= token %>" method="POST">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon"
                          ><i class="glyphicon glyphicon-lock color-blue"></i
                        ></span>
                        <input
                          id="password"
                          name="password"
                          placeholder="New Password"
                          class="form-control"
                          type="password"
                          required
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon"
                          ><i class="glyphicon glyphicon-lock color-blue"></i
                        ></span>
                        <input
                          id="confirm-password"
                          name="confirmPassword"
                          placeholder="Confirm Password"
                          class="form-control"
                          type="password"
                          required
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <input
                        name="reset-submit"
                        id="reset-button"
                        class="btn btn-lg btn-primary btn-block"
                        type="submit"
                        value="Confirm"
                      />
                    </div>
                    <div id="message" class="text-center"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.getElementById('resetPasswordForm').addEventListener('submit', async function (event) {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        try {
          const response = await fetch(form.action, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          });

          const result = await response.json();

          if (result.status) {
            document.getElementById('message').innerText = result.message;
            setTimeout(() => {
              window.location.href = "/api/v1/login";
            }, 3000);
          } else {
            document.getElementById('message').innerText = result.message;
          }
        } catch (error) {
          document.getElementById('message').innerText = 'An error occurred';
        }
      });
    </script>
  </body>
</html>
